.body {
  background: #f5f5f5;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background: #f5f5f5;
  color: black;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

.main-page-introduction {
  font-size: 100px;
}

img {
  width: 200px;
  height: 200px;
}

.portfolio-img {
  position: absolute;
  top: 21%;
  left: 36%;
}

@media screen and (min-width: 320px) and (max-width: 429.98px) {
  .portfolio-paragraph-1 {
    margin-top: 53px;
  }

  .portfolio-paragraph-2 {
    margin-top: 20px;
  }

  .portfolio-paragraph-3 {
    margin-top: 105px;
  }
}
